<section class="footer">
  <div>
    <blockquote>
      <h1>
        Join the 3 million users who rely on<br />
        Backlog for Project Management
      </h1>
      <p>Try Backlog today for free. No credit card required.</p>
    </blockquote>
    <blockquote>
      <button>Contact Sales</button>
      <button>Try it free</button>
    </blockquote>
  </div>
  <div class="footer-main">
    <aside>
      <img src="/images/ABM_Group.png" />
      <blockquote>
        <i class="fa-solid fa-earth"></i>
        <p>English</p>
        <i class="fa-solid fa-angle-down"></i>
      </blockquote>
    </aside>
    <aside>
      <blockquote>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-github"></i>
        <i class="fa-brands fa-youtube"></i>
      </blockquote>
      <p>&copy; 2025, ABM Group. All Rights Reserved</p>
    </aside>
  </div>
</section>
