.footer {
  width: 100%;
}

.footer div:nth-child(1) {
  background-color: green;
  color: white;
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.footer div:nth-child(1) blockquote {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}

.footer div:nth-child(1) blockquote h1 {
  font-size: 3.5rem;
}

.footer div:nth-child(1) blockquote:nth-child(2) {
  flex-direction: row;
}

.footer div:nth-child(1) blockquote button {
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid white;
  border-radius: 0.5rem;
  cursor: pointer;
}

.footer div:nth-child(1) blockquote button:nth-child(1) {
  background-color: green;
  color: white;
}

.footer div:nth-child(1) blockquote button:nth-child(2) {
  background-color: white;
  color: green;
}

.footer-main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 15%;
}

.footer-main aside img {
  width: 250px;
  height: 200px;
}

.footer-main aside {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-main aside blockquote {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-main aside p {
  font-size: 1.2rem;
}

.footer-main aside blockquote:nth-child(1) i {
  font-size: 2rem;
}
