<div class="dashboard-project">
  <h2>Projects</h2>
  <table>
    <thead>
      <tr>
        <th>Sr. No.</th>
        <th>Project Name</th>
        <th>Description</th>
        <th>Created DateTime</th>
        <th>Last Modified</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Sample Project</td>
        <td>This project is for Sample</td>
        <td>11/03/2025 07:02:11 PM</td>
        <td>19/03/2025 06:11:33 AM</td>
        <td>
          <blockquote>
            <i class="fa-solid fa-pen-to-square"></i>
            <i class="fa-solid fa-trash"></i>
          </blockquote>
        </td>
      </tr>
    </tbody>
  </table>
</div>
