<section class="features">
  <mark>Try now for free <i class="fa-solid fa-angle-right"></i></mark>
  <h1>
    Features for accurate tracking and <br />
    process optimization
  </h1>
  <aside>
    <img src="/images/Image 840.jpg" />
    <blockquote>
      <h1>Visualize progress with Gantt & burndown charts</h1>
      <p>
        Plan tasks and milestones with Gantt charts, and see if you’re on target
        with burndown charts.
      </p>
    </blockquote>
  </aside>
  <aside>
    <blockquote>
      <h1>Track workflows with Boards</h1>
      <p>
        Kanban-style boards let you visualize the status of all issues quickly
        and stop bottlenecks in their tracks.
      </p>
    </blockquote>
    <img src="/images/Image 841.jpg" />
  </aside>
  <aside>
    <img src="/images/Image 842.jpg" />
    <blockquote>
      <h1>Document scopes & best practices with wikis</h1>
      <p>
        Each project has a built-in wiki that everyone can reference and add to
        with subwikis.
      </p>
    </blockquote>
  </aside>
  <mark>See all features <i class="fa-solid fa-angle-right"></i></mark>
</section>
