<div class="dashboard-project">
  <h2>My Issues</h2>
  <table>
    <thead>
      <tr>
        <th>Sr. No.</th>
        <th>Project Name</th>
        <th>Subject</th>
        <th>Description</th>
        <th>Status</th>
        <th>Issued on</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Sample Project</td>
        <td>Update Project</td>
        <td>Issues in Updating Project Details</td>
        <td>Pending</td>
        <td>23/03/2025 11:22:11 AM</td>
      </tr>
    </tbody>
  </table>
</div>
