<div class="dashboard-project-updates">
  <h2>Updates</h2>
  <div>
    <aside>
      <h4>Fri Apr. 11, 2025</h4>
    </aside>
    <aside>
      <i class="fa-solid fa-a" style="font-size: 2rem"></i>
      <blockquote>
        <h4>Aftab edited the <span>members</span> of the project</h4>
        <mark> <i class="fa-solid fa-building"></i> Project Name </mark>
        <mark>
          <i class="fa-solid fa-user-circle"></i> Anis Mahat has been added as a
          project member
        </mark>
      </blockquote>
      <p style="margin-left: auto">3 days ago</p>
    </aside>
  </div>
</div>
